@font-face {
  font-family: Noto Sans KR;
  font-weight: 400;
  src: url("../Noto-Sans-KR/NotoSansKR-Regular.OTF") format('opentype');
}

@font-face {
  font-family: Futura;
  font-weight: 400;
  src: url("../fonts/Futura-Family/FUTURAM.TTF") format('truetype');
}

* {
  color: #270c17;
  font-family: Noto Sans KR;
  font-weight: 300;
}

/* primary color */

/* #c9a47a #299eb6 #4041aa */

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 300;
  margin: 0;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  background: url(../images/grey.png) repeat;
  background-size: 100%;
  background-position: center;
}

.nav-to-top {
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
  z-index: 1000;
}

.wrapper {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.99);
  /* rgba(39, 12, 23, 0.7); */
  width: 100%;
  position: fixed;
  top: 0;
  opacity: .9;
  z-index: 1000;
  margin-top: .5rem;
  padding: 1rem 0;
}

.wrapper:hover {
  opacity: 1;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.wrapper-logo {
  width: fit-content;
  margin: 0 0 0 2.5rem;
  position: absolute;
  left: -5px;
  top: 25px;
}

.header {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  background: url(../images/coralSea.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  margin-top: -1.5rem;
  padding-top: 300px;
  padding-bottom: 200px;
  -ms-box-shadow: 10px 10px 30px #dbdbdb;
  -webkit-box-shadow: 10px 10px 30px #dbdbdb;
  -moz-box-shadow: 10px 10px 30px #dbdbdb;
  box-shadow: 10px 10px 30px #dbdbdb;
}

.about {
  width: 50%;
  background-color: white;
  margin: -2rem auto 8rem auto;
  padding: 3rem 0 6rem 0;
  text-align: -moz-center;
  text-align: -webkit-center;
  box-shadow: 1px 1px 3px #dbdbdb;
  z-index: 999
}

.middles-moto-0 {
  display: flex;
  color: #000;
  font-size: 1.5rem;
  width: 65%;
  margin: 0 auto;
  padding: 3rem 0;
  background: url(../images/soundBoard.png) no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  border-radius: 150px;
  -ms-box-shadow: 5px 5px 15px #dbdbdb;
  -webkit-box-shadow: 5px 5px 15px #dbdbdb;
  -moz-box-shadow: 5px 5px 15px #dbdbdb;
  box-shadow: 5px 5px 15px #dbdbdb;
  line-height: 1.5;
  -moz-transition: background-size .5s ease-in-out;
  -ms-transition: background-size .5s ease-in-out;
  -o-transition: background-size .5s ease-in-out;
  -webkit-transition: background-size .5s ease-in-out;
  transition: background-size .5s ease-in-out;
}

.middles-moto-0:hover {
  background-size: 112.5%;
}

.middles-moto-1 {
  display: flex;
  color: #000;
  font-size: 1.5rem;
  width: 70%;
  height: 300px;
  margin: 8rem auto;
  margin-bottom: 1.5rem;
  padding: 4rem 0;
  background: url(../images/ccm0.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  -ms-box-shadow: 10px 10px 15px #dbdbdb;
  -webkit-box-shadow: 10px 10px 15px #dbdbdb;
  -moz-box-shadow: 10px 10px 15px #dbdbdb;
  box-shadow: 10px 10px 15px #dbdbdb;
  line-height: 1.5;
  -moz-transition: background-size .5s ease-in-out;
  -ms-transition: background-size .5s ease-in-out;
  -o-transition: background-size .5s ease-in-out;
  -webkit-transition: background-size .5s ease-in-out;
  transition: background-size .5s ease-in-out;
}

.middles-moto-1:hover {
  background-size: 107%;
}

.middles-item {
  color: #ffffff;
  font-size: 1.5rem;
  max-width: 39rem;
  margin: auto;
  padding: 1rem 1rem;
  -ms-text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
  -webkit-text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
  -moz-text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
  text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
}

.service {
  border-radius: 0;
  padding: 5rem 0 0 0;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.service-group-box {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.service-banner {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
  background: url(../images/mix.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
}

.service-banner:nth-of-type(2) {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: url(../images/ccm1.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  -ms-box-shadow: 5px 5px 15px #dbdbdb;
  -webkit-box-shadow: 5px 5px 15px #dbdbdb;
  -moz-box-shadow: 5px 5px 15px #dbdbdb;
  box-shadow: 5px 5px 15px #dbdbdb;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  margin: 5rem 1% 5rem 1%;
  width: 100%;
}

.grid-item {
  justify-content: center;
  text-align: center;
}

.grid-item:nth-of-type(1) {
  margin-right: 12%;
}

.grid-item:nth-of-type(2) {
  margin-left: 12%;
}

.grid-item:nth-of-type(3) {
  margin: -20% 50% -20% 50%;
}

.grid-item:nth-of-type(4) {
  margin-right: 12%;
}

.grid-item:nth-of-type(5) {
  margin-left: 12%;
}

.grid-item>dl {
  position: relative;
  width: 360px;
}

.grid-item>dl>dt {
  position: relative;
  width: 360px;
}

.grid-item>dl>dt>a {
  text-decoration: none;
  vertical-align: middle;
}

.ico {
  color: #fff;
  font-family: futura;
  font-size: .75rem;
  min-width: 115px;
  margin-top: -10px;
  padding: 3px 10px 3px 20px;
  position: absolute;
  top: 50%;
  left: -20px;
}

.t1 {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.t2 {
  color: #c9a47a;
  font-size: 0.9rem;
  margin: 0;
  margin-top: .3rem;
  padding: 0;
  line-height: 2;
}

.t3 {
  width: 75%;
  color: #000;
  font-size: .7rem;
  margin: auto;
  margin-top: .3rem;
  padding: 0;
  line-height: 1.75;
}

.cooperator {
  /* background-color: #4041aa #b8efe4
  #c9a47a; */
  flex-wrap: wrap;
  width: 85%;
  margin: 2.5rem auto 6rem auto;
  padding: 1.25rem 0;
  padding-bottom: 0.5rem;
  background: url(../images/gold.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  -ms-box-shadow: 10px 10px 15px #dbdbdb;
  -webkit-box-shadow: 10px 10px 15px #dbdbdb;
  -moz-box-shadow: 10px 10px 15px #dbdbdb;
  box-shadow: 10px 10px 15px #dbdbdb;
  border-radius: 15px;
}

.cooperator-text {
  color: #fff;
  font-family: Futura;
  font-size: 1.75rem;
  font-weight: 300;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
  border-right: 1.5px solid #fff;
  border-left: 1.5px solid #fff;
}

.cooperator-box {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  justify-content: space-evenly;
}

.cooperator-item {
  /* width: 25%; */
  list-style: none;
}

.contact {
  color: #000;
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 0;
  padding-top: 5rem;
  background: url(../images/coralSea.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-items {
  margin: auto;
  line-height: 1.5;
}

#event-email>a, #event-tel>a {
  font-family: Futura;
  display: inline-block;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  min-width: 283.88px;
}

.footer {
  margin: auto;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.button {
  color: #000;
  font-family: Futura;
  font-size: .75rem;
  font-weight: 100;
  text-transform: none;
  text-decoration: none;
  padding: 0 .5rem;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease-out;
}

.button:hover {
  color: #c9a47a;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  transition: opacity .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  margin-top: 20%;
  padding: 0.5rem;
  background: #fff;
  border-radius: 2px;
  width: 30%;
  position: relative;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 0;
  right: .7rem;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.popup .close:hover {
  color: #fd006d;
}

.popup .content {
  font-family: Futura;
  color: #fff;
  background-color: #ffa3a3;
  max-height: 30%;
  padding: 1rem;
  overflow: auto;
}

.content>div {
  font-family: Futura;
  color: #fff;
  margin-bottom: .5rem;
}

#to-the-top {
  font-family: Futura;
  font-weight: 400;
  font-size: 1.5rem;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  z-index: 1000;
  -ms-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -moz-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#nav {
  background-color: transparent;
  width: 45%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0 0 .5rem 0;
  mix-blend-mode: difference;
}

#nav>li>a {
  display: inline-block;
  color: #fff;
  font-family: Futura;
  font-weight: 400;
  font-size: 1.1rem;
  min-width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  -ms-text-shadow: 0 0 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 0 #000;
  -webkit-text-shadow: 0 0 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 0 #000;
  -moz-text-shadow: 0 0 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 0 #000;
  text-shadow: 0 0 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 0 #000;
}

#header-title-0 {
  /* font-family: Monoton;
  font-size: 9rem;
  color: #fff; 
  color: #5d90ca;*/
  margin-bottom: 0.5rem;
  padding-top: 0;
  text-align: center;
  text-align: -ms-center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#header-title-0>img {
  width: 45%;
}

#header-title-1 {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  justify-content: center;
}

#header-sub-title-0 {
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
  width: 35rem;
  color: #270c17;
  background-color: transparent;
  border-radius: .3rem;
  margin: 0 auto;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#header-sub-title-1 {
  font-family: Futura;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 35rem;
  color: #fff;
  background-color: transparent;
  border-radius: .3rem;
  margin: .5rem auto;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#about-text {
  display: table;
  font-family: Futura;
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
  width: fit-content;
  margin: auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 5px solid #299eb6;
}

#about-link {
  color: #299eb6;
  font-family: Futura;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

#about-introduce {
  font-size: 0.85rem;
  margin: 2.2rem 12%;
  margin-top: 2rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  line-height: 1.7;
}

#about-contact {
  flex-wrap: wrap;
  margin-top: 1.5rem;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  text-transform: uppercase;
}

#about-contact-button {
  font-family: Futura;
  font-size: 1rem;
  width: fit-content;
  border: 2px solid rgba(137, 137, 137, .5);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  padding: 15px 25px;
  text-decoration: none;
}

#about-contact-button:nth-child(2) {
  color: #299eb6
}

#about-contact-button:hover {
  background-color: transparent;
  border: 2px solid #c9a47a;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

#about-contact-button:nth-child(2):hover {
  color: #fff;
  background-color: #299eb6;
  border-color: #299eb6;
}

#service-text {
  font-family: Futura;
  font-weight: 400;
  font-size: 3rem;
  color: #000;
  width: fit-content;
  margin: auto;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border-bottom: 5px solid #c9a47a;
}

#service-text0 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #000;
  width: fit-content;
  margin: auto;
  margin-top: 5rem;
  text-transform: uppercase;
}

#service-text-1 {
  /* font-family: Futura; */
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  width: 50%;
  min-width: 420px;
  height: fit-content;
  margin: auto;
  padding: 1.5rem 0;
  text-align: center;
  line-height: 1.9;
  border: 3px solid #c9a47a;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 1px 1px 10px #000;
  -webkit-box-shadow: 1px 1px 10px #000;
  -moz-box-shadow: 1px 1px 10px #000;
  box-shadow: 1px 1px 10px #000;
  /* border-radius: 27.5px; */
}

#service-text-1>a {
  font-weight: 600;
}

#service-text-2 {
  font-family: Futura;
  font-size: 1.5rem;
  color: #fff;
  width: 360px;
  height: 360px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  line-height: 1.9;
  border: 3px solid #4041aa;
  border-radius: 1000px;
  justify-content: flex-end;
}

#service-text-highlight-0 {
  font-family: Futura;
  color: #c9a47a;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}

#service-text-description-1 {
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  margin: auto;
  margin-top: 2rem;
  line-height: 2;
}

#service-text-bottom {
  font-family: Futura;
  color: #fff;
  margin: auto;
}

#t3-nashville {
  width: 92%;
  font-size: .65rem;
}

#t2-tech {
  line-height: 1.5;
}

#more-info {
  font-family: Futura;
  font-size: 1rem;
  width: fit-content;
  padding: 0 25px;
  text-decoration: none;
  border-left: 2px solid #c9a47a;
  border-right: 2px solid #c9a47a;
}

#more-info:hover {
  color: #c9a47a;
  background-color: transparent;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

#service-text-highlight-1 {
  display: inherit;
  color: #4041aa;
  font-family: Futura;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-decoration: none;
}

#service-text-highlight-2 {
  display: inherit;
  color: #fff;
  font-family: Futura;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

#service-text-description-2 {
  width: 80%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  margin: auto;
  line-height: 2;
}

#middles-items-music {
  font-family: Futura;
  font-size: 2rem;
}

#hashtag {
  font-family: Futura;
  font-weight: 900;
}

#middles-items-ccm {
  width: 55%;
  font-size: 0.95rem;
  padding: 2rem;
  line-height: 1.75;
}

#ico0 {
  color: #000;
  background: #e9f9fe;
}

#ico1 {
  background: #9197a9;
}

#ico2 {
  background: #e59f78;
}

#ico3 {
  background: #d4cd81;
}

#ico4 {
  background: #8812b6;
}

#service-text0 {
  font-weight: 400;
  font-size: 2rem;
  color: #000;
  width: 100%;
  margin: 2rem auto;
  text-transform: uppercase;
}

#contact-text {
  font-family: Futura;
  color: #5d90ca;
  font-size: 3.5rem;
  font-weight: 400;
  width: fit-content;
  position: relative;
  margin: 3rem 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  border-bottom: 5px solid #4041aa;
  mix-blend-mode: difference;
  -webkit-animation: color-change 30s infinite;
  -moz-animation: color-change 30s infinite;
  -o-animation: color-change 30s infinite;
  -ms-animation: color-change 30s infinite;
  animation: color-change 30s infinite;
}

#credit {
  font-family: Futura;
  font-size: 1.1rem;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  margin-top: 1rem;
}

#credit:hover {
  color: #fd006d;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

@media (min-width:1920px) {
  .wrapper-logo {
    top: 45px;
    left: 35px;
  }
  .wrapper-logo>img {
    width: 280px;
  }
  .header {
    padding-top: 450px;
    padding-bottom: 350px;
  }
  .middles-moto-0 {
    width: 55%;
  }
  .service-list {
    margin-left: 15%;
    margin-right: 15%;
  }
  .service-banner {
    height: 800px;
  }
  .service-banner:nth-of-type(2) {
    height: 800px;
  }
  .middles-moto-1 {
    width: 55%;
  }
  .cooperator {
    width: 55%;
  }
  .contact {
    padding: 20rem 0;
    padding-top: 18rem;
  }
  .popup {
    width: 25%;
    margin-top: 15%;
  }
  #header-title-0:nth-child(1) {
    font-size: 10rem;
  }
  #header-sub-title-0 {
    font-size: 1.5rem;
  }
  #header-sub-title-1 {
    font-size: 1.5rem;
  }
  #about-introduce {
    margin: 2.2rem 20%;
  }
  #service-text-1 {
    max-width: 50rem;
  }
  #service-text-description-1 {
    width: 45%;
  }
  #service-text-2 {
    max-width: 50rem;
  }
  #middles-items-ccm {
    width: 50%;
  }
}

@media (max-width:1024px) {
  .wrapper-logo {
    margin: auto;
    left: 30px;
    top: 60px;
  }
  .wrapper-logo>img {
    width: 150px;
  }
  .header {
    background-attachment: local;
  }
  .about {
    width: 60%;
  }
  .contact {
    background-attachment: local;
  }
  .middles-moto-0 {
    padding: 1rem 0;
    background-attachment: local;
  }
  .middles-moto-1 {
    width: 95%;
    background-attachment: local;
    margin-top: 2.5rem;
  }
  .header {
    padding-top: 400px;
    padding-bottom: 300px;
  }
  .middles-item {
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    -ms-text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
    -webkit-text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
    -moz-text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
    text-shadow: 1px 1px #000, 1px 1px #000, 1px 1px #000, 1px 1px #000;
  }
  .contact {
    background-attachment: local;
  }
  .service {
    padding-bottom: 0;
    background-size: auto;
    background-attachment: local;
    background-repeat: repeat-y;
  }
  .service-banner {
    height: 400px;
    background-attachment: local;
  }
  .service-banner:nth-of-type(2) {
    height: 475px;
    background-attachment: local;
  }
  .service-group-box {
    justify-content: space-evenly;
  }
  .grid-item {
    width: 250px;
    margin: 0;
  }
  .grid-item:nth-of-type(1) {
    margin-right: 0;
    padding: 0;
  }
  .grid-item:nth-of-type(2) {
    margin-left: 0;
    padding: 0;
  }
  .grid-item:nth-of-type(3) {
    margin: 0;
    padding: 0;
  }
  .grid-item:nth-of-type(4) {
    margin: 0;
    padding: 0;
  }
  .grid-item:nth-of-type(5) {
    margin: 0;
    padding: 0;
  }
  .grid-item>dl {
    width: auto;
  }
  .grid-item>dl>dt {
    width: 250px;
  }
  .service-list>li>dl>dt>a>img {
    width: 100%;
  }
  .ico {
    font-size: 0.75rem;
    width: 155px;
  }
  .cooperator {
    width: 85%;
    margin: 1.5rem auto 2rem auto;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    background-attachment: local;
  }
  .cooperator-text {
    font-size: 1.5rem;
  }
  .cooperator-item>a>img {
    width: 65px;
  }
  .img {
    width: 100%;
  }
  .popup {
    width: 50%;
    margin-top: 20%;
  }
  #nav {
    width: 90%;
  }
  #header-title-0 {
    margin-bottom: 0;
  }
  #header-title-0:nth-child(1) {
    font-size: 6rem;
  }
  #header-title-0>img {
    width: 60%;
  }
  #header-sub-title-0 {
    font-size: .95rem;
    width: fit-content;
  }
  #header-sub-title-1 {
    font-size: .95rem;
    width: fit-content;
  }
  #about-text {
    font-size: 2rem;
  }
  #about-introduce {
    font-size: 0.8rem;
    margin: 1rem 10%;
    margin-bottom: 2rem;
  }
  #about-contact-button {
    margin: 0;
    margin-left: 10%;
  }
  #about-contact-button:nth-child(2) {
    margin: 0;
    margin-right: 10%;
  }
  #middles-items-music {
    font-size: 1.5rem;
  }
  #service-group {
    order: 2;
    -webkit-order: 2;
  }
  #service-text {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  #service-text-1 {
    font-size: 1rem;
    margin: auto;
  }
  #service-text-2 {
    margin: auto;
  }
  #service-text-highlight-0 {
    font-size: 0.75rem;
  }
  #service-text-description-1 {
    width: 60%;
    font-size: 0.75rem;
    margin-top: 1.5rem;
  }
  #service-text-bottom {
    font-size: 0.75rem;
  }
  #service-text-description-2 {
    width: 90%;
    font-size: 0.75rem;
  }
  #contact-text {
    font-size: 2.5rem;
    margin: 3rem auto;
    margin-bottom: 1.5rem;
  }
  #event-email>a, #event-tel>a {
    font-size: 1.25rem;
  }
}

@media (max-width:768px) {
  .wrapper-logo {
    left: 15px;
    top: 60px;
  }
  .wrapper-logo img {
    width: 160px;
  }
  .about {
    width: 75%;
  }
  .popup {
    margin-top: 40%
  }
  #header-title-0>img {
    width: 65%;
  }
}

@media (max-width:550px) {
  .wrapper {
    padding: 0.5rem 0;
    opacity: 1;
  }
  .wrapper-logo {
    left: 15px;
    top: 50px;
  }
  .wrapper-logo img {
    width: 100px;
  }
  .header {
    padding-top: 300px;
    padding-bottom: 250px;
  }
  .about {
    width: 90%;
    margin-bottom: 2rem;
    padding: 3rem 0 5rem 0;
  }
  .service-banner {
    height: 375px;
    background-attachment: local;
  }
  .service-banner:nth-of-type(2) {
    height: 400px;
    background-attachment: local;
  }
  .service {
    padding-top: 3rem;
    background-attachment: fixed;
  }
  .service-group {
    margin: auto;
  }
  .service-group {
    padding: 0;
  }
  .service-list {
    padding: 0;
  }
  .grid-item:nth-of-type(1) {
    margin-bottom: 2rem;
  }
  .grid-item:nth-of-type(2) {
    margin-bottom: 2rem;
  }
  .grid-item:nth-of-type(3) {
    margin-bottom: 2rem;
  }
  .grid-item:nth-of-type(4) {
    margin-bottom: 2rem;
  }
  .middles-moto-0 {
    font-size: .7rem;
    width: 100%;
    margin: auto;
    padding: 1rem 0;
    border-radius: 0;
    -ms-box-shadow: 3px 3px 3px #dbdbdb;
    -webkit-box-shadow: 3px 3px 3px #dbdbdb;
    -moz-box-shadow: 3px 3px 3px #dbdbdb;
    box-shadow: 3px 3px 3px #dbdbdb;
  }
  .middles-moto-1 {
    font-size: .7rem;
    height: 260px;
    margin: 1.5rem auto;
    margin-bottom: 1.2rem;
    padding: 0;
    -ms-box-shadow: 1px 1px 10px #dbdbdb;
    -webkit-box-shadow: 1px 1px 10px #dbdbdb;
    -moz-box-shadow: 1px 1px 10px #dbdbdb;
    box-shadow: 1px 1px 10px #dbdbdb;
  }
  .t3 {
    font-size: 0.65rem;
    width: 100%;
  }
  .cooperator {
    width: 95%;
    -ms-box-shadow: 1px 1px 10px #dbdbdb;
    -webkit-box-shadow: 1px 1px 10px #dbdbdb;
    -moz-box-shadow: 1px 1px 10px #dbdbdb;
    box-shadow: 1px 1px 10px #dbdbdb;
  }
  .cooperator-item>a>img {
    width: 40px;
  }
  .cooperator-box {
    padding: 0;
  }
  .contact {
    font-size: .7rem;
    width: 100%;
    margin: auto;
    padding: 183.5px 0;
  }
  .footer {
    width: 100%;
    line-height: 0.9;
  }
  .button {
    font-size: .6rem;
    padding: 0;
  }
  .popup {
    width: 90%;
    margin: auto;
    margin-top: 11rem;
  }
  #nav {
    width: 88%;
    margin-top: 0;
  }
  #nav li a {
    font-size: .75rem;
  }
  #header-title-0:nth-child(1) {
    font-size: 3rem;
  }
  #header-title-0>img {
    width: 90%;
  }
  #about-introduce {
    font-size: 0.75rem;
  }
  #about-link {
    font-size: 0.85rem;
  }
  #about-contact-button {
    font-size: .75rem;
    margin: 0;
  }
  #about-contact-button:nth-child(2) {
    font-size: .75rem;
    margin: 0;
  }
  #middles-items-music {
    font-size: 1rem;
    -ms-box-shadow: 1px 1px 10px #000;
    -webkit-box-shadow: 1px 1px 10px #000;
    -moz-box-shadow: 1px 1px 10px #000;
    box-shadow: 1px 1px 10px #000;
  }
  #service-text {
    font-size: 2rem;
  }
  #service-text-1 {
    font-size: .9rem;
    width: 70%;
    min-width: 80%;
  }
  #t3-nashville {
    width: 100%;
  }
  #service-text-2 {
    font-size: .9rem;
    width: 250px;
    height: 250px;
  }
  #service-text-description-1 {
    width: 80%;
  }
  #middles-items-ccm {
    width: 70%;
  }
  #hashtag {
    font-size: 0.9rem;
  }
  #middles-items-ccm {
    font-size: 0.75rem;
  }
  #contact-text {
    font-size: 2.75rem;
    margin: 1rem auto;
  }
  #event-email>a, #event-tel>a {
    font-size: 1rem;
  }
  #to-the-top {
    right: .75rem;
    bottom: .5rem;
  }
}